.header {
    display: grid;
    grid: "logo logo" "site-toggle app-toggle" / 5.5fr 4.5fr;
    grid-gap: 0.5rem;
    width: 100%;
    flex: auto;
}

.header__control {
    display: flex;
    flex-direction: column;
}

body {
    align-items: stretch;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    width: 15rem;
    font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;
    font-size: 0.75rem;
    border: 2px solid white;
}

a {
    color: #d83751;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    width: 0%;
}

.button {
    background-color: #141e24;
    border: 0.125rem solid #d83751;
    box-sizing: content-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 1.5rem;
    line-height: 0.75rem;
    min-width: 1.5rem;
    outline: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    transition: background-color 250ms;
    -moz-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: #193945;
    transition: background-color 125ms;
}

.button:active {
    background-color: #316e7d;
}

input, button {
    font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;
    font-size: 0.75rem;
}

html {
    background-color: #303442;
    color: #d83751;
    font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;
    font-size: 16px;
}

.site-toggle__mark svg {
    fill: currentColor;
    height: 0.75rem;
    vertical-align: bottom;
    width: 0.75rem;
}

.footer-buttons {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
}

.footer-buttons > * {
    flex: auto;
}

.footer-buttons > :not(:first-child) {
    margin-left: 0.5rem;
}

.footer-links {
    align-items: stretch;
    display: flex;
    flex: none;
    justify-content: center;
    margin-bottom: 0.5rem;
}
 
.footer-links__link:hover {
    text-decoration: underline;
}

.footer-links > :not(:first-child) {
    margin-left: 0.5rem;
}

.link {
    align-items: center;
    background-color: #d83751;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: 0;
    position: relative;
    text-decoration: none;
    transition: all 125ms;
}

.link:hover {
    box-shadow: 0 0 0.75rem #d83751;
}
 
.link:hover::after {
    filter: drop-shadow(0 0 0.125rem #e96c4c);
}

#oxem_support_us_href {
    color: #00c7ba;
}

.site-toggle--disabled {
    opacity: 0.5;
    pointer-events: none;
}
 
footer {
    align-items: stretch;
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.75rem;
}

footer p {
    margin: 0 0 0.125rem 0;
    text-align: center;
    white-space: pre;
    color: #00c7ba;
    font-size: 90%;
}

.link__text {
    font-weight: bold;
    line-height: 1.5rem;
    transform: skewX(-10deg);
}
