.tooltip {
  cursor: help;
}

div.tooltipJS {
  position:absolute;
  padding:3px;
  margin:0px;
  border:1px solid #000;
  background: #ccc;
  color:#000;
  box-shadow: 3px 3px 3px #000;
  max-width:150px;
} 
  
.tooltipAnimateIn {
  animation: tooltipAnimateIn 0.5s 1;
}
  
@keyframes tooltipAnimateIn {
  from { 
    opacity: 0; 
    margin: 30px 0px 0px 0px;  
  }
  to { 
    margin-bottom:0px 0px 0px 0px;
    opacity: 1; 
  }
}
  
.tooltipAnimateOut {
  animation: tooltipAnimateOut 0.5s 1;
}
  
@keyframes tooltipAnimateOut {
  from { 
    opacity: 1; 
    margin: 0px 0px 0px 0px;  
  }
  to { 
    margin-bottom:30px 0px 0px 0px;
    opacity: 0; 
  }  
}